link{
    display: inline;
    background: #68C9A6;
    font-size: 18px;
    border-radius: 23px;
    box-shadow: 0 8px 16px;
}

nav a {
    margin-right: 10%;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
}

nav li {
    display: inline;
    width: auto;
    float: right;
    padding: 20px;
    padding-right: 5%;
}

li a:hover{
    background-color: white;
    color: black;
}

/*nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e1e8ed;
    padding: 0 15px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 15px;
  }
  
  nav a {
    color: #1da1f2;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
  }
  
  nav a:hover {
    background-color: #e8f5fe;
  }
  */