
.newProfile{
    width:500px;
    margin: auto;
    margin-top: 10%;
    max-width: 90%;
    padding: 20px;
    border-radius: 23px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}
#submit, #pic{
    margin-left: 50%;
    width: 120px;
    height: 34px;
    right: 150px;
    top: 750px;

    background: #68C9A6;
    font-size: 18px;
    border-radius: 23px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}
#username, #password{
    /*width: 100%;
    height: 40px;*/
    margin: 20px 0 15px 10px;
    margin-left: 15%;
    padding: 0 10px;
    border: 1px solid silver;
    /*border-radius: 4px;*/

    /*position: absolute;*/
    width: 400px;
    height: 32px;
    left: 543px;
    top: 379px;

    background: #FFFFFF;
    border-radius: 23px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

#bio{
    margin: 20px 0 15px 10px;
    margin-left: 15%;
    padding: 0 10px;
    border: 1px solid silver;
    /*border-radius: 4px;*/

    /*position: absolute;*/
    width: 380px;
    height: 100px;
    left: 543px;
    top: 379px;

    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

#newAccount{
    margin-right: 70%;
    width: 150px;
    height: 34px;
    right: 150px;
    top: 750px;

    background: #68C9A6;
    font-size: 18px;
    border-radius: 23px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}
#newAccount:hover{
    background-color: #297456FF;
    color: #FFFFFF;
}